.App {
  text-align: center;
}

html, body {
    height: 100vh;
    background-color: #F3E6D5;
    border: 3px solid red;
    margin: 0;
    padding: 0;
}

.main{
    margin: 1%;
    height: 100%;
    border: 3px solid black;
}

.leftContainer{
    background-color:blue;
    width:35%;
    float: left;
    margin: 1%
}

.rightContainer{
    background-color:yellow;
    width:60%;
    float: left;
    margin: 1%;
    height: 100%;
}
